<div class="container">
	
                    <h3>Producto:</h3>
                    <p><%= @products.name %></p>
                    <h3>Descripción:</h3>
                    <p><%= @products.description %></p>
                    <h3>Precio:</h3>
                    <p><%= @products.price %></p>
                    
                    <p><%= image_tag @products.photo %></p>
                    <%= @mensaje %>
                    
                    
                 
</div>